In [1]:
import csv
import json
from pprint import pprint

In [2]:
with open('../data/csv/patients.csv') as f:
    reader = csv.reader(f)
    header = next(reader, None)
    rows = [row for row in reader]

print(header)
print(rows[0])

['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'ZIP']
['3287bb9c-e395-4146-8dd5-1fc3d887d220', '2015-07-12', '', '999-82-9751', '', '', '', 'Victor265', 'Kilback373', '', '', '', 'white', 'polish', 'M', 'Newton  Massachusetts  US', '657 Heathcote Divide', 'Fitchburg', 'Massachusetts', '01420']

In [3]:
import datetime
from datetime import date, timedelta
from dateutil import parser

def get_age(birth_date):
    if isinstance(birth_date, str):
        birth_date = parser.parse(birth_date).date()

    age = (date.today()  - birth_date) // timedelta(days=365)
    return age

In [4]:
date.today()

datetime.date(2021, 10, 21)

In [5]:
datetime.datetime.now()

datetime.datetime(2021, 10, 21, 11, 4, 20, 310225)

In [6]:
print(get_age('2011-09-10'))

10

In [7]:
print(get_age('2014-01-10'))

7

In [8]:
ages = [get_age(row[1]) for row in rows]
print(ages)

[6, 18, 13, 17, 8, 9, 55, 84, 14, 20, 53, 23, 18, 64, 11, 39, 34, 5, 82, 19, 18, 15, 26, 28, 29, 8, 71, 32, 82, 41, 51, 17, 40, 53, 60, 65, 11, 21, 32, 52, 3, 52, 82, 30, 69, 24, 99, 12, 51, 99, 27, 76, 78, 29, 16, 69, 34, 78, 58, 76, 99, 65, 70, 60, 50, 32, 4, 78, 65, 48, 3, 66, 77, 99, 25, 18, 47, 79, 99, 32, 10, 74, 61, 99, 62, 59, 67, 2, 50, 99, 3, 70, 61, 62, 43, 18, 71, 29, 99, 52, 71, 26, 28, 56, 32, 69, 23, 31, 46, 99, 106, 30, 21, 67, 67, 106, 99, 106, 99, 106, 106, 99, 106, 99, 99, 99, 99, 90, 90]

In [9]:
patients = [ {'birth_date': row[1], 'age': get_age(row[1])} for row in rows ]
pprint(patients)

[{'age': 6, 'birth_date': '2015-07-12'},
 {'age': 18, 'birth_date': '2003-04-15'},
 {'age': 13, 'birth_date': '2008-06-26'},
 {'age': 17, 'birth_date': '2004-06-22'},
 {'age': 8, 'birth_date': '2012-12-12'},
 {'age': 9, 'birth_date': '2012-10-04'},
 {'age': 55, 'birth_date': '1966-10-02'},
 {'age': 84, 'birth_date': '1937-04-18'},
 {'age': 14, 'birth_date': '2007-01-01'},
 {'age': 20, 'birth_date': '2001-09-12'},
 {'age': 53, 'birth_date': '1967-11-05'},
 {'age': 23, 'birth_date': '1998-05-27'},
 {'age': 18, 'birth_date': '2003-06-22'},
 {'age': 64, 'birth_date': '1957-02-03'},
 {'age': 11, 'birth_date': '2009-12-15'},
 {'age': 39, 'birth_date': '1981-11-24'},
 {'age': 34, 'birth_date': '1987-04-23'},
 {'age': 5, 'birth_date': '2016-02-26'},
 {'age': 82, 'birth_date': '1939-05-17'},
 {'age': 19, 'birth_date': '2002-05-04'},
 {'age': 18, 'birth_date': '2003-07-13'},
 {'age': 15, 'birth_date': '2006-09-05'},
 {'age': 26, 'birth_date': '1995-04-13'},
 {'age': 28, 'birth_date': '1993-08-19'},
 {'age': 29, 'birth_date': '1992-02-09'},
 {'age': 8, 'birth_date': '2013-09-10'},
 {'age': 71, 'birth_date': '1950-02-06'},
 {'age': 32, 'birth_date': '1989-05-19'},
 {'age': 82, 'birth_date': '1939-05-17'},
 {'age': 41, 'birth_date': '1980-08-01'},
 {'age': 51, 'birth_date': '1970-10-17'},
 {'age': 17, 'birth_date': '2004-09-02'},
 {'age': 40, 'birth_date': '1981-09-17'},
 {'age': 53, 'birth_date': '1967-11-06'},
 {'age': 60, 'birth_date': '1961-07-15'},
 {'age': 65, 'birth_date': '1956-04-05'},
 {'age': 11, 'birth_date': '2010-04-02'},
 {'age': 21, 'birth_date': '2000-09-13'},
 {'age': 32, 'birth_date': '1989-04-14'},
 {'age': 52, 'birth_date': '1969-08-30'},
 {'age': 3, 'birth_date': '2018-02-15'},
 {'age': 52, 'birth_date': '1968-11-10'},
 {'age': 82, 'birth_date': '1939-05-17'},
 {'age': 30, 'birth_date': '1991-04-14'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 24, 'birth_date': '1997-09-25'},
 {'age': 99, 'birth_date': '1922-04-03'},
 {'age': 12, 'birth_date': '2009-06-25'},
 {'age': 51, 'birth_date': '1970-01-22'},
 {'age': 99, 'birth_date': '1922-04-03'},
 {'age': 27, 'birth_date': '1994-10-02'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 29, 'birth_date': '1992-01-30'},
 {'age': 16, 'birth_date': '2004-11-05'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 34, 'birth_date': '1987-04-26'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 58, 'birth_date': '1963-03-09'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 99, 'birth_date': '1922-04-03'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 70, 'birth_date': '1950-12-18'},
 {'age': 60, 'birth_date': '1961-05-19'},
 {'age': 50, 'birth_date': '1971-07-29'},
 {'age': 32, 'birth_date': '1988-11-14'},
 {'age': 4, 'birth_date': '2017-05-08'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 48, 'birth_date': '1973-09-21'},
 {'age': 3, 'birth_date': '2018-03-25'},
 {'age': 66, 'birth_date': '1955-03-13'},
 {'age': 77, 'birth_date': '1944-05-19'},
 {'age': 99, 'birth_date': '1922-04-03'},
 {'age': 25, 'birth_date': '1996-09-26'},
 {'age': 18, 'birth_date': '2002-11-08'},
 {'age': 47, 'birth_date': '1974-11-01'},
 {'age': 79, 'birth_date': '1942-06-19'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 32, 'birth_date': '1989-07-17'},
 {'age': 10, 'birth_date': '2011-10-02'},
 {'age': 74, 'birth_date': '1947-05-03'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 99, 'birth_date': '1922-04-03'},
 {'age': 62, 'birth_date': '1958-11-22'},
 {'age': 59, 'birth_date': '1962-06-28'},
 {'age': 67, 'birth_date': '1954-08-17'},
 {'age': 2, 'birth_date': '2019-03-24'},
 {'age': 50, 'birth_date': '1971-07-25'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 3, 'birth_date': '2018-09-20'},
 {'age': 70, 'birth_date': '1951-09-17'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 62, 'birth_date': '1959-03-18'},
 {'age': 43, 'birth_date': '1978-06-04'},
 {'age': 18, 'birth_date': '2003-10-09'},
 {'age': 71, 'birth_date': '1949-11-25'},
 {'age': 29, 'birth_date': '1992-08-04'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 52, 'birth_date': '1968-11-11'},
 {'age': 71, 'birth_date': '1950-03-23'},
 {'age': 26, 'birth_date': '1995-01-25'},
 {'age': 28, 'birth_date': '1993-10-21'},
 {'age': 56, 'birth_date': '1965-08-30'},
 {'age': 32, 'birth_date': '1989-08-11'},
 {'age': 69, 'birth_date': '1951-12-24'},
 {'age': 23, 'birth_date': '1998-02-14'},
 {'age': 31, 'birth_date': '1990-02-24'},
 {'age': 46, 'birth_date': '1975-03-04'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 30, 'birth_date': '1991-09-07'},
 {'age': 21, 'birth_date': '2000-10-13'},
 {'age': 67, 'birth_date': '1953-12-24'},
 {'age': 67, 'birth_date': '1954-07-17'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 106, 'birth_date': '1915-04-02'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 99, 'birth_date': '1922-09-27'},
 {'age': 90, 'birth_date': '1931-03-16'},
 {'age': 90, 'birth_date': '1931-03-16'}]

In [10]:
# filtering based on age
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': get_age(row[1])} 
            for row in rows if get_age(row[1]) >= min_age and get_age(row[1]) <= max_age ]
pprint(patients)

[{'age': 18, 'birth_date': '2003-04-15'},
 {'age': 55, 'birth_date': '1966-10-02'},
 {'age': 20, 'birth_date': '2001-09-12'},
 {'age': 53, 'birth_date': '1967-11-05'},
 {'age': 23, 'birth_date': '1998-05-27'},
 {'age': 18, 'birth_date': '2003-06-22'},
 {'age': 64, 'birth_date': '1957-02-03'},
 {'age': 39, 'birth_date': '1981-11-24'},
 {'age': 34, 'birth_date': '1987-04-23'},
 {'age': 19, 'birth_date': '2002-05-04'},
 {'age': 18, 'birth_date': '2003-07-13'},
 {'age': 26, 'birth_date': '1995-04-13'},
 {'age': 28, 'birth_date': '1993-08-19'},
 {'age': 29, 'birth_date': '1992-02-09'},
 {'age': 71, 'birth_date': '1950-02-06'},
 {'age': 32, 'birth_date': '1989-05-19'},
 {'age': 41, 'birth_date': '1980-08-01'},
 {'age': 51, 'birth_date': '1970-10-17'},
 {'age': 40, 'birth_date': '1981-09-17'},
 {'age': 53, 'birth_date': '1967-11-06'},
 {'age': 60, 'birth_date': '1961-07-15'},
 {'age': 65, 'birth_date': '1956-04-05'},
 {'age': 21, 'birth_date': '2000-09-13'},
 {'age': 32, 'birth_date': '1989-04-14'},
 {'age': 52, 'birth_date': '1969-08-30'},
 {'age': 52, 'birth_date': '1968-11-10'},
 {'age': 30, 'birth_date': '1991-04-14'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 24, 'birth_date': '1997-09-25'},
 {'age': 51, 'birth_date': '1970-01-22'},
 {'age': 27, 'birth_date': '1994-10-02'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 29, 'birth_date': '1992-01-30'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 34, 'birth_date': '1987-04-26'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 58, 'birth_date': '1963-03-09'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 70, 'birth_date': '1950-12-18'},
 {'age': 60, 'birth_date': '1961-05-19'},
 {'age': 50, 'birth_date': '1971-07-29'},
 {'age': 32, 'birth_date': '1988-11-14'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 48, 'birth_date': '1973-09-21'},
 {'age': 66, 'birth_date': '1955-03-13'},
 {'age': 77, 'birth_date': '1944-05-19'},
 {'age': 25, 'birth_date': '1996-09-26'},
 {'age': 18, 'birth_date': '2002-11-08'},
 {'age': 47, 'birth_date': '1974-11-01'},
 {'age': 79, 'birth_date': '1942-06-19'},
 {'age': 32, 'birth_date': '1989-07-17'},
 {'age': 74, 'birth_date': '1947-05-03'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 62, 'birth_date': '1958-11-22'},
 {'age': 59, 'birth_date': '1962-06-28'},
 {'age': 67, 'birth_date': '1954-08-17'},
 {'age': 50, 'birth_date': '1971-07-25'},
 {'age': 70, 'birth_date': '1951-09-17'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 62, 'birth_date': '1959-03-18'},
 {'age': 43, 'birth_date': '1978-06-04'},
 {'age': 18, 'birth_date': '2003-10-09'},
 {'age': 71, 'birth_date': '1949-11-25'},
 {'age': 29, 'birth_date': '1992-08-04'},
 {'age': 52, 'birth_date': '1968-11-11'},
 {'age': 71, 'birth_date': '1950-03-23'},
 {'age': 26, 'birth_date': '1995-01-25'},
 {'age': 28, 'birth_date': '1993-10-21'},
 {'age': 56, 'birth_date': '1965-08-30'},
 {'age': 32, 'birth_date': '1989-08-11'},
 {'age': 69, 'birth_date': '1951-12-24'},
 {'age': 23, 'birth_date': '1998-02-14'},
 {'age': 31, 'birth_date': '1990-02-24'},
 {'age': 46, 'birth_date': '1975-03-04'},
 {'age': 30, 'birth_date': '1991-09-07'},
 {'age': 21, 'birth_date': '2000-10-13'},
 {'age': 67, 'birth_date': '1953-12-24'},
 {'age': 67, 'birth_date': '1954-07-17'}]

In [11]:
# another way to do it, add the age to the end
for row in rows:
    row.append(get_age(row[1]))

In [12]:
print(rows[0])

['3287bb9c-e395-4146-8dd5-1fc3d887d220', '2015-07-12', '', '999-82-9751', '', '', '', 'Victor265', 'Kilback373', '', '', '', 'white', 'polish', 'M', 'Newton  Massachusetts  US', '657 Heathcote Divide', 'Fitchburg', 'Massachusetts', '01420', 6]

In [13]:
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': row[-1]} 
            for row in rows if row[20] >= min_age and row[-1] <= max_age ]
pprint(patients)

[{'age': 18, 'birth_date': '2003-04-15'},
 {'age': 55, 'birth_date': '1966-10-02'},
 {'age': 20, 'birth_date': '2001-09-12'},
 {'age': 53, 'birth_date': '1967-11-05'},
 {'age': 23, 'birth_date': '1998-05-27'},
 {'age': 18, 'birth_date': '2003-06-22'},
 {'age': 64, 'birth_date': '1957-02-03'},
 {'age': 39, 'birth_date': '1981-11-24'},
 {'age': 34, 'birth_date': '1987-04-23'},
 {'age': 19, 'birth_date': '2002-05-04'},
 {'age': 18, 'birth_date': '2003-07-13'},
 {'age': 26, 'birth_date': '1995-04-13'},
 {'age': 28, 'birth_date': '1993-08-19'},
 {'age': 29, 'birth_date': '1992-02-09'},
 {'age': 71, 'birth_date': '1950-02-06'},
 {'age': 32, 'birth_date': '1989-05-19'},
 {'age': 41, 'birth_date': '1980-08-01'},
 {'age': 51, 'birth_date': '1970-10-17'},
 {'age': 40, 'birth_date': '1981-09-17'},
 {'age': 53, 'birth_date': '1967-11-06'},
 {'age': 60, 'birth_date': '1961-07-15'},
 {'age': 65, 'birth_date': '1956-04-05'},
 {'age': 21, 'birth_date': '2000-09-13'},
 {'age': 32, 'birth_date': '1989-04-14'},
 {'age': 52, 'birth_date': '1969-08-30'},
 {'age': 52, 'birth_date': '1968-11-10'},
 {'age': 30, 'birth_date': '1991-04-14'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 24, 'birth_date': '1997-09-25'},
 {'age': 51, 'birth_date': '1970-01-22'},
 {'age': 27, 'birth_date': '1994-10-02'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 29, 'birth_date': '1992-01-30'},
 {'age': 69, 'birth_date': '1951-12-13'},
 {'age': 34, 'birth_date': '1987-04-26'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 58, 'birth_date': '1963-03-09'},
 {'age': 76, 'birth_date': '1945-05-24'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 70, 'birth_date': '1950-12-18'},
 {'age': 60, 'birth_date': '1961-05-19'},
 {'age': 50, 'birth_date': '1971-07-29'},
 {'age': 32, 'birth_date': '1988-11-14'},
 {'age': 78, 'birth_date': '1943-02-09'},
 {'age': 65, 'birth_date': '1955-11-30'},
 {'age': 48, 'birth_date': '1973-09-21'},
 {'age': 66, 'birth_date': '1955-03-13'},
 {'age': 77, 'birth_date': '1944-05-19'},
 {'age': 25, 'birth_date': '1996-09-26'},
 {'age': 18, 'birth_date': '2002-11-08'},
 {'age': 47, 'birth_date': '1974-11-01'},
 {'age': 79, 'birth_date': '1942-06-19'},
 {'age': 32, 'birth_date': '1989-07-17'},
 {'age': 74, 'birth_date': '1947-05-03'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 62, 'birth_date': '1958-11-22'},
 {'age': 59, 'birth_date': '1962-06-28'},
 {'age': 67, 'birth_date': '1954-08-17'},
 {'age': 50, 'birth_date': '1971-07-25'},
 {'age': 70, 'birth_date': '1951-09-17'},
 {'age': 61, 'birth_date': '1960-06-11'},
 {'age': 62, 'birth_date': '1959-03-18'},
 {'age': 43, 'birth_date': '1978-06-04'},
 {'age': 18, 'birth_date': '2003-10-09'},
 {'age': 71, 'birth_date': '1949-11-25'},
 {'age': 29, 'birth_date': '1992-08-04'},
 {'age': 52, 'birth_date': '1968-11-11'},
 {'age': 71, 'birth_date': '1950-03-23'},
 {'age': 26, 'birth_date': '1995-01-25'},
 {'age': 28, 'birth_date': '1993-10-21'},
 {'age': 56, 'birth_date': '1965-08-30'},
 {'age': 32, 'birth_date': '1989-08-11'},
 {'age': 69, 'birth_date': '1951-12-24'},
 {'age': 23, 'birth_date': '1998-02-14'},
 {'age': 31, 'birth_date': '1990-02-24'},
 {'age': 46, 'birth_date': '1975-03-04'},
 {'age': 30, 'birth_date': '1991-09-07'},
 {'age': 21, 'birth_date': '2000-10-13'},
 {'age': 67, 'birth_date': '1953-12-24'},
 {'age': 67, 'birth_date': '1954-07-17'}]

In [14]:
# todo we might want to shift all dates (e.g. birthday, encounter date)

In [15]:
fake_names = '''Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur'''
print(fake_names)

Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur

In [16]:
fake_names.split('\n')

['Veronique Tippetts',
 'Sarah Santiago',
 'Eustolia Bushard',
 'Emanuel Riker',
 'Maybelle Denney',
 'Lilia Gobel',
 'Clarine Vandermeer',
 'Felicidad Joynes',
 'Rod Pixley',
 'Rashad Fukushima',
 'Marci Bakley',
 'Melvina Cichon',
 'Susy Sibert',
 'Oma Hoskins',
 'Lance Curnutte',
 'Mei Wooldridge',
 'Jillian Mccroy',
 'Darby Castellon',
 'Raul Pickney',
 'Loni Kaur']

In [17]:
# deidentify the name
import random

def fake_name_generator():
    fake_names = \
"""Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur""".split('\n')
    return random.choice(fake_names).strip()

In [18]:
print(fake_name_generator())
print(fake_name_generator())
print(fake_name_generator())

Lance Curnutte
Darby Castellon
Loni Kaur

In [19]:
# don't reuse names
fake_names = \
"""Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur""".split('\n')
    
def get_fake_name():
    if len(fake_names) == 0:
        return None
    r = random.randint(0, len(fake_names) - 1)
    n = fake_names[r].strip()
    del fake_names[r]
    return n

In [20]:
for i in range(21):
    print(get_fake_name())

Rashad Fukushima
Raul Pickney
Marci Bakley
Melvina Cichon
Mei Wooldridge
Maybelle Denney
Emanuel Riker
Veronique Tippetts
Rod Pixley
Lance Curnutte
Susy Sibert
Loni Kaur
Sarah Santiago
Clarine Vandermeer
Jillian Mccroy
Felicidad Joynes
Darby Castellon
Oma Hoskins
Eustolia Bushard
Lilia Gobel
None

In [21]:
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': row[20], 'name': get_fake_name() } 
            for row in rows if row[20] >= min_age and row[20] <= max_age ]
pprint(patients)

[{'age': 18, 'birth_date': '2003-04-15', 'name': None},
 {'age': 55, 'birth_date': '1966-10-02', 'name': None},
 {'age': 20, 'birth_date': '2001-09-12', 'name': None},
 {'age': 53, 'birth_date': '1967-11-05', 'name': None},
 {'age': 23, 'birth_date': '1998-05-27', 'name': None},
 {'age': 18, 'birth_date': '2003-06-22', 'name': None},
 {'age': 64, 'birth_date': '1957-02-03', 'name': None},
 {'age': 39, 'birth_date': '1981-11-24', 'name': None},
 {'age': 34, 'birth_date': '1987-04-23', 'name': None},
 {'age': 19, 'birth_date': '2002-05-04', 'name': None},
 {'age': 18, 'birth_date': '2003-07-13', 'name': None},
 {'age': 26, 'birth_date': '1995-04-13', 'name': None},
 {'age': 28, 'birth_date': '1993-08-19', 'name': None},
 {'age': 29, 'birth_date': '1992-02-09', 'name': None},
 {'age': 71, 'birth_date': '1950-02-06', 'name': None},
 {'age': 32, 'birth_date': '1989-05-19', 'name': None},
 {'age': 41, 'birth_date': '1980-08-01', 'name': None},
 {'age': 51, 'birth_date': '1970-10-17', 'name': None},
 {'age': 40, 'birth_date': '1981-09-17', 'name': None},
 {'age': 53, 'birth_date': '1967-11-06', 'name': None},
 {'age': 60, 'birth_date': '1961-07-15', 'name': None},
 {'age': 65, 'birth_date': '1956-04-05', 'name': None},
 {'age': 21, 'birth_date': '2000-09-13', 'name': None},
 {'age': 32, 'birth_date': '1989-04-14', 'name': None},
 {'age': 52, 'birth_date': '1969-08-30', 'name': None},
 {'age': 52, 'birth_date': '1968-11-10', 'name': None},
 {'age': 30, 'birth_date': '1991-04-14', 'name': None},
 {'age': 69, 'birth_date': '1951-12-13', 'name': None},
 {'age': 24, 'birth_date': '1997-09-25', 'name': None},
 {'age': 51, 'birth_date': '1970-01-22', 'name': None},
 {'age': 27, 'birth_date': '1994-10-02', 'name': None},
 {'age': 76, 'birth_date': '1945-05-24', 'name': None},
 {'age': 78, 'birth_date': '1943-02-09', 'name': None},
 {'age': 29, 'birth_date': '1992-01-30', 'name': None},
 {'age': 69, 'birth_date': '1951-12-13', 'name': None},
 {'age': 34, 'birth_date': '1987-04-26', 'name': None},
 {'age': 78, 'birth_date': '1943-02-09', 'name': None},
 {'age': 58, 'birth_date': '1963-03-09', 'name': None},
 {'age': 76, 'birth_date': '1945-05-24', 'name': None},
 {'age': 65, 'birth_date': '1955-11-30', 'name': None},
 {'age': 70, 'birth_date': '1950-12-18', 'name': None},
 {'age': 60, 'birth_date': '1961-05-19', 'name': None},
 {'age': 50, 'birth_date': '1971-07-29', 'name': None},
 {'age': 32, 'birth_date': '1988-11-14', 'name': None},
 {'age': 78, 'birth_date': '1943-02-09', 'name': None},
 {'age': 65, 'birth_date': '1955-11-30', 'name': None},
 {'age': 48, 'birth_date': '1973-09-21', 'name': None},
 {'age': 66, 'birth_date': '1955-03-13', 'name': None},
 {'age': 77, 'birth_date': '1944-05-19', 'name': None},
 {'age': 25, 'birth_date': '1996-09-26', 'name': None},
 {'age': 18, 'birth_date': '2002-11-08', 'name': None},
 {'age': 47, 'birth_date': '1974-11-01', 'name': None},
 {'age': 79, 'birth_date': '1942-06-19', 'name': None},
 {'age': 32, 'birth_date': '1989-07-17', 'name': None},
 {'age': 74, 'birth_date': '1947-05-03', 'name': None},
 {'age': 61, 'birth_date': '1960-06-11', 'name': None},
 {'age': 62, 'birth_date': '1958-11-22', 'name': None},
 {'age': 59, 'birth_date': '1962-06-28', 'name': None},
 {'age': 67, 'birth_date': '1954-08-17', 'name': None},
 {'age': 50, 'birth_date': '1971-07-25', 'name': None},
 {'age': 70, 'birth_date': '1951-09-17', 'name': None},
 {'age': 61, 'birth_date': '1960-06-11', 'name': None},
 {'age': 62, 'birth_date': '1959-03-18', 'name': None},
 {'age': 43, 'birth_date': '1978-06-04', 'name': None},
 {'age': 18, 'birth_date': '2003-10-09', 'name': None},
 {'age': 71, 'birth_date': '1949-11-25', 'name': None},
 {'age': 29, 'birth_date': '1992-08-04', 'name': None},
 {'age': 52, 'birth_date': '1968-11-11', 'name': None},
 {'age': 71, 'birth_date': '1950-03-23', 'name': None},
 {'age': 26, 'birth_date': '1995-01-25', 'name': None},
 {'age': 28, 'birth_date': '1993-10-21', 'name': None},
 {'age': 56, 'birth_date': '1965-08-30', 'name': None},
 {'age': 32, 'birth_date': '1989-08-11', 'name': None},
 {'age': 69, 'birth_date': '1951-12-24', 'name': None},
 {'age': 23, 'birth_date': '1998-02-14', 'name': None},
 {'age': 31, 'birth_date': '1990-02-24', 'name': None},
 {'age': 46, 'birth_date': '1975-03-04', 'name': None},
 {'age': 30, 'birth_date': '1991-09-07', 'name': None},
 {'age': 21, 'birth_date': '2000-10-13', 'name': None},
 {'age': 67, 'birth_date': '1953-12-24', 'name': None},
 {'age': 67, 'birth_date': '1954-07-17', 'name': None}]