In [1]:
import csv
import json
from pprint import pprint

In [5]:
with open('../data/csv/patients.csv') as f:
    reader = csv.reader(f)
    header = next(reader, None)
    rows = [row for row in reader]

print(header)
print(rows[0])

['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'ZIP']
['c09181f8-6526-4de7-87c7-25c95ccdbdea', '2014-06-06', '', '999-26-1662', '', '', '', 'Lizbeth716', 'Hackett68', '', '', '', 'white', 'irish', 'F', 'Denver  Pennsylvania  US', '742 Parisian Run Suite 87', 'Pittsburgh', 'Pennsylvania', '15106']

In [40]:
import datetime
from datetime import date, timedelta
from dateutil import parser

def get_age(birth_date):
    if isinstance(birth_date, str):
        birth_date = parser.parse(birth_date).date()

    age = (date.today()  - birth_date) // timedelta(days=365)
    return age

In [27]:
date.today()

datetime.date(2019, 6, 6)

In [29]:
datetime.datetime.now()

datetime.datetime(2019, 6, 6, 19, 56, 20, 846787)

In [30]:
print(get_age('2011-09-10'))

7

In [31]:
print(get_age('2014-01-10'))

5

In [32]:
ages = [get_age(row[1]) for row in rows]
print(ages)

[4, 50, 50, 41, 63, 52, 28, 72, 23, 31]

In [41]:
patients = [ {'birth_date': row[1], 'age': get_age(row[1])} for row in rows ]
pprint(patients)

[{'age': 5, 'birth_date': '2014-06-06'},
 {'age': 50, 'birth_date': '1969-05-10'},
 {'age': 50, 'birth_date': '1969-05-30'},
 {'age': 41, 'birth_date': '1978-02-04'},
 {'age': 63, 'birth_date': '1955-11-01'},
 {'age': 52, 'birth_date': '1966-10-13'},
 {'age': 28, 'birth_date': '1990-08-20'},
 {'age': 72, 'birth_date': '1947-01-31'},
 {'age': 23, 'birth_date': '1995-07-03'},
 {'age': 31, 'birth_date': '1987-10-01'}]

In [42]:
# filtering based on age
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': get_age(row[1])} 
            for row in rows if get_age(row[1]) >= min_age and get_age(row[1]) <= max_age ]
pprint(patients)

[{'age': 50, 'birth_date': '1969-05-10'},
 {'age': 50, 'birth_date': '1969-05-30'},
 {'age': 41, 'birth_date': '1978-02-04'},
 {'age': 63, 'birth_date': '1955-11-01'},
 {'age': 52, 'birth_date': '1966-10-13'},
 {'age': 28, 'birth_date': '1990-08-20'},
 {'age': 72, 'birth_date': '1947-01-31'},
 {'age': 23, 'birth_date': '1995-07-03'},
 {'age': 31, 'birth_date': '1987-10-01'}]

In [43]:
# another way to do it, add the age to the end
for row in rows:
    row.append(get_age(row[1]))

In [44]:
print(rows[0])

['c09181f8-6526-4de7-87c7-25c95ccdbdea', '2014-06-06', '', '999-26-1662', '', '', '', 'Lizbeth716', 'Hackett68', '', '', '', 'white', 'irish', 'F', 'Denver  Pennsylvania  US', '742 Parisian Run Suite 87', 'Pittsburgh', 'Pennsylvania', '15106', 5]

In [45]:
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': row[20]} 
            for row in rows if row[20] >= min_age and row[20] <= max_age ]
pprint(patients)

[{'age': 50, 'birth_date': '1969-05-10'},
 {'age': 50, 'birth_date': '1969-05-30'},
 {'age': 41, 'birth_date': '1978-02-04'},
 {'age': 63, 'birth_date': '1955-11-01'},
 {'age': 52, 'birth_date': '1966-10-13'},
 {'age': 28, 'birth_date': '1990-08-20'},
 {'age': 72, 'birth_date': '1947-01-31'},
 {'age': 23, 'birth_date': '1995-07-03'},
 {'age': 31, 'birth_date': '1987-10-01'}]

In [46]:
# deidentify the name
import random

def fake_name_generator():
    fake_names = \
"""Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur""".split('\n')
    return random.choice(fake_names).strip()

In [47]:
print(fake_name_generator())
print(fake_name_generator())
print(fake_name_generator())

Lilia Gobel
Emanuel Riker
Clarine Vandermeer

In [50]:
# don't reuse names
fake_names = \
"""Veronique Tippetts
Sarah Santiago
Eustolia Bushard
Emanuel Riker
Maybelle Denney
Lilia Gobel
Clarine Vandermeer
Felicidad Joynes
Rod Pixley
Rashad Fukushima
Marci Bakley
Melvina Cichon
Susy Sibert
Oma Hoskins
Lance Curnutte
Mei Wooldridge
Jillian Mccroy
Darby Castellon
Raul Pickney
Loni Kaur""".split('\n')
    
def get_fake_name():
    if len(fake_names) == 0:
        return None
    r = random.randint(0, len(fake_names) - 1)
    n = fake_names[r].strip()
    del fake_names[r]
    return n

In [49]:
for i in range(21):
    print(get_fake_name())

Melvina Cichon
Marci Bakley
Raul Pickney
Maybelle Denney
Lilia Gobel
Loni Kaur
Felicidad Joynes
Susy Sibert
Rod Pixley
Oma Hoskins
Jillian Mccroy
Eustolia Bushard
Lance Curnutte
Clarine Vandermeer
Veronique Tippetts
Sarah Santiago
Mei Wooldridge
Rashad Fukushima
Darby Castellon
Emanuel Riker
None

In [52]:
min_age = 18
max_age = 79
patients = [ {'birth_date': row[1], 'age': row[20], 'name': get_fake_name() } 
            for row in rows if row[20] >= min_age and row[20] <= max_age ]
pprint(patients)

[{'age': 50, 'birth_date': '1969-05-10', 'name': 'Oma Hoskins'},
 {'age': 50, 'birth_date': '1969-05-30', 'name': 'Clarine Vandermeer'},
 {'age': 41, 'birth_date': '1978-02-04', 'name': 'Darby Castellon'},
 {'age': 63, 'birth_date': '1955-11-01', 'name': 'Loni Kaur'},
 {'age': 52, 'birth_date': '1966-10-13', 'name': 'Rod Pixley'},
 {'age': 28, 'birth_date': '1990-08-20', 'name': 'Jillian Mccroy'},
 {'age': 72, 'birth_date': '1947-01-31', 'name': 'Raul Pickney'},
 {'age': 23, 'birth_date': '1995-07-03', 'name': 'Felicidad Joynes'},
 {'age': 31, 'birth_date': '1987-10-01', 'name': 'Marci Bakley'}]